html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.card-image {
    padding-left: 280px;
}
.block-header {
    padding-bottom: 10px;
    padding-right: 10px;
}
